.duo-chrome-red {
    background: #ef0000;
    height: 50%;
    width: 100%;
    position: fixed;
    top: 0px;
}

.duo-chrome-green {
    background: #3be000;
    height: 50%;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.duo-chrome-circle-holder {
    position: absolute;
    height: 140px;
    width: 140px;
    /* background: #fff; */
    
}

.duo-chrome-circle-holder-top {
    top: 30%;
}

.duo-chrome-circle-holder-bottom {
    bottom: 30%;
}

.duo-chrome-circle-holder-top-left {
    left: 30%;
}

.duo-chrome-circle-holder-top-right {
    right: 30%;
}

.duo-chrome-circle-holder-bottom-left {
    left: 30%;
}

.duo-chrome-circle-holder-bottom-right {
    right: 30%;
}

.duo-chrome-circle-outer {
    background: #000000;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    position: relative;
}

.duo-chrome-circle-outer-between-red {
    background: #ef0000;
}

.duo-chrome-circle-outer-between-green {
    background: #3be000;
}

.duo-chrome-circle-outer-between {

    border-radius: 50%;
    height: 120px;
    width: 120px;
    position: relative;
    top: 7%;
    left: 7%;
}

.duo-chrome-circle-inner {
    position: absolute;
    background: #000000;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top: 9.5%;
    left: 8.5%;
}

.duo-chrome-circle-inner-between-red {
    background: #ef0000;
}

.duo-chrome-circle-inner-between-green {
    background: #3be000;
}

.duo-chrome-circle-inner-between {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: relative;
    top: 10.5%;
    left: 10.5%;
}