@font-face {
    font-family: "Sloan";
    src:url("../Fonts/Sloan.otf")
}

@font-face {
    font-family: "Trivial";
    src:url("../Fonts/trivial-bold.otf")
}

@font-face {
    font-family: "Butterflies";
    src:url("../Fonts/Icons/Butterflies/Butterflies.ttf")
}

@font-face {
    font-family: "EFON";
    src:url("../Fonts/Icons/EFON/EFON.ttf")
}

.level-letter {
    /* float: left; */
}

.snellen-scale {
    font-size: 23px;
    letter-spacing: normal;
    position: absolute;
    color: #5a5353!important;
    font-family: 'Roboto', sans-serif;
    right: -50%;
    top: 30%;

}

.snellen-letter-row {
    padding-bottom: 10vh;
    /* display: inline-block; */
}

.snellen-level-0 {
    font-size: 29.0888mm;
}

.snellen-level-1 {
    font-size: 14.54442mm;
}

.snellen-level-2 {
    font-size: 9.715666mm;
}

.snellen-level-3 {
    font-size: 7.272206mm;
}

.snellen-level-4 {
    font-size: 5.81776mm;
}

.snellen-level-5 {
    font-size: 4.36332mm;
}

.snellen-level-6 {
    font-size: 3.6361mm;
}

.snellen-level-7 {
    font-size: 2.90888mm;
}

.snellen-level-8 {
    font-size: 2.18166mm;
}

.snellen-group {
    /* width: 100%;
    text-align: center; */
    font-family: "Sloan";
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
}

.numbers-group {
    /* width: 100%;
    text-align: center; */
    font-family: "Trivial";
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
}

.pictures-group {
    /* width: 100%;
    text-align: center; */
    /* font-family: "EFON", "Butterflies"; */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
}


.snellen-letter-row {
    /* padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 100px; */
    letter-spacing: 100px;
    /* height: 94vh; */
    text-align: center;
    margin: auto;
    vertical-align: middle;
    
}

.snellen-distance-options {
    float: right;
    padding: 20px;
}

.snellen-distance-options-chip {
    margin: 5px;
}

.snellen-nav-options i {
    font-size: 50px;
    color: #ccc;
    cursor: pointer;
}

.snellen-nav-options-up {
    position: fixed;
    top: 0;
    left: 45.5vw;
    z-index: 1;
}

.snellen-nav-options-down {
    position: fixed;
    bottom: 0;  
    left: 45.5vw;
}

i.efon-icon:before  {
    font-family: 'EFON';
}

i.efon-icon-fish:before {
    content: "\&#83";
    
}

.efon-icon-duck:before {
    font-family: 'EFON';
    content: "\&#117"
}

.efon-icon-umbrella:before {
    font-family: 'EFON';
    content: "\&#78"
}

.efon-icon-plane:before {
    font-family: 'EFON';
    content: "\&#76"
}

.efon-icon-apple:before {
    font-family: 'EFON';
    content: "\&#40"
}

